In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'0.24.2'

In [3]:
#pandas series (1 dimension)
#pandas dataframe (2 dimension)

In [4]:
# Series

In [5]:
city = {'bangalore':25,'chennai':30,'pune':32}
type(city)

dict

In [6]:
city_series = pd.Series(city)
type(city_series)

pandas.core.series.Series

In [7]:
city_series

bangalore    25
chennai      30
pune         32
dtype: int64

In [8]:
#series is 1d data. on converting dict to series: the keys become indexes, and values will be avialable as values

In [9]:
#in series, data can be extracted using both, indexes and values

In [10]:
print(city_series.shape)

(3,)

In [11]:
#as it is a single dimension data

In [12]:
#Access elements by their names/labels(index)
print(city_series.loc['bangalore']) #loc is location of that elements

25

In [13]:
print(city_series.iloc[0]) #locate element by position

25

In [14]:
print(city_series.values) #get all values
print(city_series.index) #get all labels/indexes

[25 30 32]
Index(['bangalore', 'chennai', 'pune'], dtype='object')

In [15]:
city_series.min()

25

In [16]:
city_series.median()

30.0

In [17]:
city_series.var()

13.0

In [18]:
city_series.mean()

29.0

In [19]:
city_series.skew()

-1.1520696383139377

In [20]:
city_names = pd.Series(['chennai','chennai','pune','bangalore'])
city_names

0      chennai
1      chennai
2         pune
3    bangalore
dtype: object

In [21]:
#pandas automatically assigns index to the strings in the series

In [22]:
#dtype is object now. strings identified as object

In [23]:
city_names.value_counts() #identifies unique elements(3 in the above case) and then counts frequency of each unique value, and sorts values in descending order

chennai      2
bangalore    1
pune         1
dtype: int64

In [24]:
pd.Series([34,56,7,7,7,2,3,4,5,9]).value_counts()

7     3
3     1
9     1
56    1
5     1
4     1
2     1
34    1
dtype: int64

In [25]:
city_names.describe()

count           4
unique          3
top       chennai
freq            2
dtype: object

In [26]:
#count = non missing values total

In [27]:
city_names1 = pd.Series(['chennai','mumbai','chennai','bangalore'])
city_names1

0      chennai
1       mumbai
2      chennai
3    bangalore
dtype: object

In [28]:
city_names1.describe()

count           4
unique          3
top       chennai
freq            2
dtype: object

In [29]:
city_temp = pd.Series([34,56,75,789,56,9,8,3])
city_temp.describe()        #50%tile is median

count      8.000000
mean     128.750000
std      268.092601
min        3.000000
25%        8.750000
50%       45.000000
75%       60.750000
max      789.000000
dtype: float64

In [30]:
city_temp = pd.Series([34,56,75,46,45,9,8,3])
city_summary = city_temp.describe()
print(city_summary)
city_summary.loc['mean']

count     8.000000
mean     34.500000
std      25.884358
min       3.000000
25%       8.750000
50%      39.500000
75%      48.500000
max      75.000000
dtype: float64

34.5

In [31]:
city_summary.iloc[1]

34.5

In [32]:
#Data frame:

In [33]:
#city = pd.Series('chennai','bangalore','pune','delhi')
#prod_name = pd.Series('a','b','a','b')
#and add two more series such as "Volume" and "sales", etc. and all these series together make up a data frame

In [34]:
#odi = pd.read_csv  #csv is the type of file(file types can differ as well)

In [35]:
odi = pd.read_csv('https://bit.ly/2EN4qrx')
odi.head() #enter number of rows in Head()

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL
0,Afghanistan,Mohammad Shahzad,118.0,97.52,2-16-2010,Sharjah CA Stadium,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3087
1,Afghanistan,Mohammad Shahzad,110.0,99.09,9-1-2009,VRA Ground,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3008
2,Afghanistan,Mohammad Shahzad,100.0,138.88,8-16-2010,Cambusdoon New Ground,Scotland,../Matches/MatchScorecard_ODI.asp?MatchCode=3164
3,Afghanistan,Mohammad Shahzad,82.0,75.92,7-10-2010,Hazelaarweg,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3153
4,Afghanistan,Mohammad Shahzad,57.0,100.00,7-1-2010,Sportpark Westvliet,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3135

In [36]:
type(odi)

pandas.core.frame.DataFrame

In [37]:
odi.head(2) #first two rows

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL
0,Afghanistan,Mohammad Shahzad,118.0,97.52,2-16-2010,Sharjah CA Stadium,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3087
1,Afghanistan,Mohammad Shahzad,110.0,99.09,9-1-2009,VRA Ground,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3008

In [38]:
#column name is in bold, and row index in bold(added by pandas)
#can return panda series/panda dataframe
#for series, column and rows in bold

In [39]:
#csv : comma separated values (delimiter is comma in this case: you can find that in the original file)

In [40]:
odi.shape #rows,columns

(55926, 8)

In [41]:
nrows = odi.shape[0]
nrows

55926

In [42]:
ncol = odi.shape[1]
ncol

8

In [43]:
x = np.arange(9).reshape(3,3)
print(x)
y = np.flip(x,axis=0)
print(y)

[[0 1 2]
 [3 4 5]
 [6 7 8]]
[[6 7 8]
 [3 4 5]
 [0 1 2]]

In [44]:
odi.dtypes

Country       object
Player        object
Runs         float64
ScoreRate    float64
MatchDate     object
Ground        object
Versus        object
URL           object
dtype: object

In [45]:
odi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55926 entries, 0 to 55925
Data columns (total 8 columns):
Country      55926 non-null object
Player       55926 non-null object
Runs         55900 non-null float64
ScoreRate    55900 non-null float64
MatchDate    55926 non-null object
Ground       55926 non-null object
Versus       55926 non-null object
URL          55926 non-null object
dtypes: float64(2), object(6)
memory usage: 3.4+ MB

In [46]:
#in runs and score rate, non-null values are less, and that is because runs and score rate can be null at times

In [47]:
odi.describe()

               Runs     ScoreRate
count  55900.000000  55900.000000
mean      22.241413     65.314208
std       25.558363     44.213423
min        0.000000      0.000000
25%        4.000000     37.500000
50%       13.000000     62.660000
75%       32.000000     87.500000
max      200.000000    600.000000

In [48]:
#describe gives summary of columns which pandas thinks of as numerical columns

In [49]:
#25%: 25% values less than number displayed

In [50]:
odi.describe(include='object')

,Country,Player,MatchDate,Ground,Versus,URL
count,55926,55926,55926,55926,55926,55926
unique,22,1936,2757,178,25,3209
top,India,Sachin R Tendulkar,2-4-2007,Sharjah CA Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=2089
freq,6634,442,108,3581,7216,22

In [51]:
odi.describe(include='all') #all column summary

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL
count,55926,55926,55900.000000,55900.000000,55926,55926,55926,55926
unique,22,1936,NaN,NaN,2757,178,25,3209
top,India,Sachin R Tendulkar,NaN,NaN,2-4-2007,Sharjah CA Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=2089
freq,6634,442,NaN,NaN,108,3581,7216,22
mean,NaN,NaN,22.241413,65.314208,NaN,NaN,NaN,NaN
std,NaN,NaN,25.558363,44.213423,NaN,NaN,NaN,NaN
min,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,4.000000,37.500000,NaN,NaN,NaN,NaN
50%,NaN,NaN,13.000000,62.660000,NaN,NaN,NaN,NaN
75%,NaN,NaN,32.000000,87.500000,NaN,NaN,NaN,NaN
max,NaN,NaN,200.000000,600.000000,NaN,NaN,NaN,NaN

In [52]:
#missing values are the ones which did not make sense to pandas
#score and score rate NaN means that those values will be empty, and pandas will print it as NaN

In [53]:
odi['Player']

0            Mohammad Shahzad
1            Mohammad Shahzad
2            Mohammad Shahzad
3            Mohammad Shahzad
4            Mohammad Shahzad
5            Mohammad Shahzad
6            Mohammad Shahzad
7            Mohammad Shahzad
8            Mohammad Shahzad
9            Mohammad Shahzad
10           Mohammad Shahzad
11           Mohammad Shahzad
12           Mohammad Shahzad
13           Mohammad Shahzad
14           Mohammad Shahzad
15           Mohammad Shahzad
16              Mohammad Nabi
17              Mohammad Nabi
18              Mohammad Nabi
19              Mohammad Nabi
20              Mohammad Nabi
21              Mohammad Nabi
22              Mohammad Nabi
23              Mohammad Nabi
24              Mohammad Nabi
25              Mohammad Nabi
26              Mohammad Nabi
27              Mohammad Nabi
28              Mohammad Nabi
29              Mohammad Nabi
                 ...
55896          Ian A Nicolson
55897     Glen K Bruk-Jackson
55898           Adam G Huckle
55899           Adam G Huckle
55900           Adam G Huckle
55901           Adam G Huckle
55902           Adam G Huckle
55903           Adam G Huckle
55904           Adam G Huckle
55905           Adam G Huckle
55906           Alan C I Lock
55907    Everton Matambanadzo
55908           Alan C I Lock
55909    Everton Matambanadzo
55910           Alan C I Lock
55911    Everton Matambanadzo
55912    Everton Matambanadzo
55913    Everton Matambanadzo
55914          Vincent R Hogg
55915        Natsai Mushangwe
55916           Kevin G Duers
55917           Kevin G Duers
55918           Ujesh Ranchod
55919          Brian V Vitori
55920     Waddington Mwayenga
55921     Waddington Mwayenga
55922      Tafadzwa Kamungozi
55923      Tafadzwa Kamungozi
55924      Tafadzwa Kamungozi
55925           Njabulo Ncube
Name: Player, Length: 55926, dtype: object

In [54]:
odi['Player'].head()

0    Mohammad Shahzad
1    Mohammad Shahzad
2    Mohammad Shahzad
3    Mohammad Shahzad
4    Mohammad Shahzad
Name: Player, dtype: object

In [55]:
type(odi['Player'].head())

pandas.core.series.Series

In [56]:
cols = ['Player','Runs']
odi[cols].head()

             Player   Runs
0  Mohammad Shahzad  118.0
1  Mohammad Shahzad  110.0
2  Mohammad Shahzad  100.0
3  Mohammad Shahzad   82.0
4  Mohammad Shahzad   57.0

In [57]:
odi[['Player','Runs']].head()

             Player   Runs
0  Mohammad Shahzad  118.0
1  Mohammad Shahzad  110.0
2  Mohammad Shahzad  100.0
3  Mohammad Shahzad   82.0
4  Mohammad Shahzad   57.0

In [58]:
odi.Player    #not suggested

0            Mohammad Shahzad
1            Mohammad Shahzad
2            Mohammad Shahzad
3            Mohammad Shahzad
4            Mohammad Shahzad
5            Mohammad Shahzad
6            Mohammad Shahzad
7            Mohammad Shahzad
8            Mohammad Shahzad
9            Mohammad Shahzad
10           Mohammad Shahzad
11           Mohammad Shahzad
12           Mohammad Shahzad
13           Mohammad Shahzad
14           Mohammad Shahzad
15           Mohammad Shahzad
16              Mohammad Nabi
17              Mohammad Nabi
18              Mohammad Nabi
19              Mohammad Nabi
20              Mohammad Nabi
21              Mohammad Nabi
22              Mohammad Nabi
23              Mohammad Nabi
24              Mohammad Nabi
25              Mohammad Nabi
26              Mohammad Nabi
27              Mohammad Nabi
28              Mohammad Nabi
29              Mohammad Nabi
                 ...
55896          Ian A Nicolson
55897     Glen K Bruk-Jackson
55898           Adam G Huckle
55899           Adam G Huckle
55900           Adam G Huckle
55901           Adam G Huckle
55902           Adam G Huckle
55903           Adam G Huckle
55904           Adam G Huckle
55905           Adam G Huckle
55906           Alan C I Lock
55907    Everton Matambanadzo
55908           Alan C I Lock
55909    Everton Matambanadzo
55910           Alan C I Lock
55911    Everton Matambanadzo
55912    Everton Matambanadzo
55913    Everton Matambanadzo
55914          Vincent R Hogg
55915        Natsai Mushangwe
55916           Kevin G Duers
55917           Kevin G Duers
55918           Ujesh Ranchod
55919          Brian V Vitori
55920     Waddington Mwayenga
55921     Waddington Mwayenga
55922      Tafadzwa Kamungozi
55923      Tafadzwa Kamungozi
55924      Tafadzwa Kamungozi
55925           Njabulo Ncube
Name: Player, Length: 55926, dtype: object

In [59]:
odi[['Player','Runs','MatchDate']].head()

             Player   Runs  MatchDate
0  Mohammad Shahzad  118.0  2-16-2010
1  Mohammad Shahzad  110.0   9-1-2009
2  Mohammad Shahzad  100.0  8-16-2010
3  Mohammad Shahzad   82.0  7-10-2010
4  Mohammad Shahzad   57.0   7-1-2010

In [60]:
##Frequency Analysis: odi is a data frame->player is a series->value_counts()->get series (chaining operation)
odi['Player'].value_counts().head(10)

Sachin R Tendulkar        442
Sanath T Jayasuriya       433
Ricky T Ponting           360
Inzamam-ul-Haq            351
D P Mahela Jayawardene    330
Rahul Dravid              318
Mohammad Azharuddin       308
Shahid Afridi             303
Jacques H Kallis          303
Sourav C Ganguly          300
Name: Player, dtype: int64

In [61]:
odi['MatchDate'].value_counts()

2-4-2007      108
6-11-1983      82
7-3-2010       80
2-2-2007       78
6-16-1979      76
6-9-1983       75
6-14-1975      72
7-10-2010      71
6-18-1983      69
1-31-2007      67
6-13-1983      67
6-11-1975      66
6-20-1983      65
6-24-2008      63
6-7-1975       62
2-27-1996      61
7-9-2010       60
2-5-2007       59
8-24-2008      59
6-25-2008      59
6-9-1979       59
3-27-1999      58
4-5-1998       58
6-29-2008      57
3-18-1992      57
1-21-2007      57
2-19-2003      56
1-22-2002      55
10-27-1989     55
7-7-2010       54
             ...
3-6-2009        6
9-28-2009       6
7-14-2007       6
2-4-2008        6
12-16-2007      5
3-5-2011        5
4-30-1983       5
8-20-2010       5
4-1-1996        5
2-8-2007        5
10-23-2003      5
9-17-1997       5
4-21-2003       5
10-31-1984      5
12-20-1989      5
11-4-2005       4
10-3-1984       4
4-24-2004       4
8-25-2008       4
2-19-1985       3
7-5-2009        3
1-13-1979       3
2-17-2000       3
10-22-1982      3
9-3-2008        3
11-10-1993      3
12-25-1997      3
8-18-2006       2
9-4-1994        2
2-28-1992       2
Name: MatchDate, Length: 2757, dtype: int64

In [62]:
#keep checking whether a function returns a series or a DataFrame

In [63]:
#top ten players based on total number of matches:
odi['Player'].value_counts().head(10)

Sachin R Tendulkar        442
Sanath T Jayasuriya       433
Ricky T Ponting           360
Inzamam-ul-Haq            351
D P Mahela Jayawardene    330
Rahul Dravid              318
Mohammad Azharuddin       308
Shahid Afridi             303
Jacques H Kallis          303
Sourav C Ganguly          300
Name: Player, dtype: int64

In [64]:
print(odi['Runs'].mean())
print(odi['Runs'].median())
print(odi['Runs'].max())
print(odi['Runs'].min())

22.241413237924867
13.0
200.0
0.0

In [65]:
#Filtering
#one column one value filter
sachin_rows = odi[(odi['Player']=='Sachin R Tendulkar')]
sachin_rows #index is not altered. if this was the index in the original file(excel in this case), it remains the same here

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL
15150,India,Sachin R Tendulkar,200.0,136.05,2-24-2010,Captain Roop Singh Stadium,South Africa,../Matches/MatchScorecard_ODI.asp?MatchCode=3092
15151,India,Sachin R Tendulkar,186.0,124.00,11-8-1999,Lal Bahadur Shastri Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1610
15152,India,Sachin R Tendulkar,175.0,124.11,11-5-2009,Rajiv Gandhi International Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=3050
15153,India,Sachin R Tendulkar,163.0,122.55,3-8-2009,AMI Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=2945
15154,India,Sachin R Tendulkar,152.0,100.66,2-23-2003,City Oval,Namibia,../Matches/MatchScorecard_ODI.asp?MatchCode=2052
15155,India,Sachin R Tendulkar,146.0,95.42,12-8-2000,Barkatullah Khan Stadium,Zimbabwe,../Matches/MatchScorecard_ODI.asp?MatchCode=1748
15156,India,Sachin R Tendulkar,146.0,110.60,10-24-2001,Boland Bank Park,Kenya,../Matches/MatchScorecard_ODI.asp?MatchCode=1849
15157,India,Sachin R Tendulkar,143.0,109.16,4-22-1998,Sharjah CA Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1400
15158,India,Sachin R Tendulkar,141.0,104.44,3-16-2004,Rawalpindi Cricket Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=2206
15159,India,Sachin R Tendulkar,141.0,95.27,9-14-2006,Kinrara Academy Oval,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=2517
15160,India,Sachin R Tendulkar,141.0,110.15,10-28-1998,Bangabandhu National Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1438
15161,India,Sachin R Tendulkar,140.0,138.61,5-23-1999,Royal & Sun Alliance County Ground,Kenya,../Matches/MatchScorecard_ODI.asp?MatchCode=1540
15162,India,Sachin R Tendulkar,139.0,111.20,3-31-2001,Nehru Stadium (Indore),Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1789
15163,India,Sachin R Tendulkar,138.0,103.75,9-14-2009,R. Premadasa Stadium,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=3016
15164,India,Sachin R Tendulkar,137.0,100.00,3-2-1996,Feroz Shah Kotla,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=1137
15165,India,Sachin R Tendulkar,134.0,102.29,4-24-1998,Sharjah CA Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1401
15166,India,Sachin R Tendulkar,128.0,97.70,7-7-1998,R. Premadasa Stadium,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=1421
15167,India,Sachin R Tendulkar,127.0,92.02,2-18-1996,Barabati Stadium,Kenya,../Matches/MatchScorecard_ODI.asp?MatchCode=1118
15168,India,Sachin R Tendulkar,127.0,97.69,9-26-1998,Queens Sports Club,Zimbabwe,../Matches/MatchScorecard_ODI.asp?MatchCode=1432
15169,India,Sachin R Tendulkar,124.0,134.78,11-13-1998,Sharjah CA Stadium,Zimbabwe,../Matches/MatchScorecard_ODI.asp?MatchCode=1449
15170,India,Sachin R Tendulkar,123.0,94.61,4-12-2005,Sardar Patel Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=2336
15171,India,Sachin R Tendulkar,122.0,88.40,3-17-2000,Reliance Stadium,South Africa,../Matches/MatchScorecard_ODI.asp?MatchCode=1666
15172,India,Sachin R Tendulkar,122.0,93.12,7-4-2001,Harare Sports Club,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=1818
15173,India,Sachin R Tendulkar,120.0,85.10,8-29-1999,Sinhalese Sports Club Ground,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=1573
15174,India,Sachin R Tendulkar,120.0,104.34,2-27-2011,M.Chinnaswamy Stadium,England,../Matches/MatchScorecard_ODI.asp?MatchCode=3245
15175,India,Sachin R Tendulkar,118.0,105.35,11-8-1998,Sharjah CA Stadium,Zimbabwe,../Matches/MatchScorecard_ODI.asp?MatchCode=1445
15176,India,Sachin R Tendulkar,118.0,84.28,4-15-1996,Sharjah CA Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=1163
15177,India,Sachin R Tendulkar,117.0,85.40,5-14-1997,M.Chinnaswamy Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1278
15178,India,Sachin R Tendulkar,117.0,97.50,3-2-2008,Sydney Cricket Ground,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=2800
15179,India,Sachin R Tendulkar,115.0,84.55,10-28-1994,Reliance Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1009
...,...,...,...,...,...,...,...,...
15562,India,Sachin R Tendulkar,1.0,20.00,1-21-1993,Sector 16 Stadium,England,../Matches/MatchScorecard_ODI.asp?MatchCode=0856
15563,India,Sachin R Tendulkar,1.0,12.50,2-14-2007,Nehru Stadium (Margao),Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=2629
15564,India,Sachin R Tendulkar,1.0,10.00,4-15-2005,Green Park,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=2337
15565,India,Sachin R Tendulkar,1.0,20.00,4-12-1996,Sharjah CA Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=1160
15566,India,Sachin R Tendulkar,1.0,11.11,12-6-1991,W.A.C.A. Ground,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=0753
15567,India,Sachin R Tendulkar,1.0,16.66,1-14-2003,Seddon Park,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=2021
15568,India,Sachin R Tendulkar,1.0,7.69,1-11-2003,Eden Park,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=2018
15569,India,Sachin R Tendulkar,1.0,9.09,5-3-1997,Kensington Oval,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=1275
15570,India,Sachin R Tendulkar,1.0,50.00,12-16-1997,Sharjah CA Stadium,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=1348
15571,India,Sachin R Tendulkar,1.0,4.34,11-11-1999,Captain Roop Singh Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1611
15572,India,Sachin R Tendulkar,0.0,0.00,11-17-1999,Feroz Shah Kotla,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1613
15573,India,Sachin R Tendulkar,0.0,0.00,3-19-2004,Arbab Niaz Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=2207
15574,India,Sachin R Tendulkar,0.0,0.00,1-24-2007,Barabati Stadium,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=2592
15575,India,Sachin R Tendulkar,0.0,0.00,7-7-2001,Harare Sports Club,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=1819
15576,India,Sachin R Tendulkar,0.0,0.00,1-9-1999,Owen Delaney Park,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1456
15577,India,Sachin R Tendulkar,0.0,0.00,3-23-2007,Queen's Park Oval,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=2657
15578,India,Sachin R Tendulkar,0.0,0.00,9-8-1999,Kallang Ground,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=1579
15579,India,Sachin R Tendulkar,0.0,0.00,2-19-2008,Adelaide Oval,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=2793
15580,India,Sachin R Tendulkar,0.0,0.00,6-4-1999,The Oval,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1556
15581,India,Sachin R Tendulkar,0.0,0.00,2-16-2006,Multan Cricket Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=2430
15582,India,Sachin R Tendulkar,0.0,0.00,9-29-2007,M.Chinnaswamy Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=2732
15583,India,Sachin R Tendulkar,0.0,0.00,9-18-1997,"Cricket, Skating & Curling Club",Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=1303
15584,India,Sachin R Tendulkar,0.0,0.00,1-8-2003,Westpac Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=2016
15585,India,Sachin R Tendulkar,0.0,0.00,10-25-1991,Sharjah CA Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=0746
15586,India,Sachin R Tendulkar,0.0,0.00,3-1-1990,Carisbrook,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=0673
15587,India,Sachin R Tendulkar,0.0,0.00,12-18-1989,Jinnah Stadium (Gujwranwala),Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=0651
15588,India,Sachin R Tendulkar,0.0,0.00,10-17-1994,Nahar Singh (Mayur) Stadium,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=1002
15589,India,Sachin R Tendulkar,0.0,0.00,1-23-1997,OUTsurance Oval,South Africa,../Matches/MatchScorecard_ODI.asp?MatchCode=1236
15590,India,Sachin R Tendulkar,0.0,0.00,10-20-1994,Wankhede Stadium,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=1003
15591,India,Sachin R Tendulkar,0.0,0.00,9-17-1994,Sinhalese Sports Club Ground,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=0991

In [66]:
sachin_rows = odi[(odi['Player']=='Sachin R Tendulkar')].head()
sachin_rows

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL
15150,India,Sachin R Tendulkar,200.0,136.05,2-24-2010,Captain Roop Singh Stadium,South Africa,../Matches/MatchScorecard_ODI.asp?MatchCode=3092
15151,India,Sachin R Tendulkar,186.0,124.00,11-8-1999,Lal Bahadur Shastri Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1610
15152,India,Sachin R Tendulkar,175.0,124.11,11-5-2009,Rajiv Gandhi International Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=3050
15153,India,Sachin R Tendulkar,163.0,122.55,3-8-2009,AMI Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=2945
15154,India,Sachin R Tendulkar,152.0,100.66,2-23-2003,City Oval,Namibia,../Matches/MatchScorecard_ODI.asp?MatchCode=2052

In [67]:
sachin = odi[(odi['Player']=='Sachin R Tendulkar')].shape
sachin

(442, 8)

In [68]:
#filter for Rahul Dravid
rahul = odi[(odi['Player']=='Rahul Dravid')]
rahul.shape[0] #no of matches played by Rahul

318

In [128]:
sachin1 = odi[(odi['Player']=='Sachin R Tendulkar')]
sachin_cent = sachin1[(sachin1['Runs']>=100)]

48

In [70]:
rahul[(rahul['Runs'] > 99)].shape[0]

12

In [71]:
#Mutiple columns filter
odi[(odi['Player']=='Sachin R Tendulkar') & (odi['Runs']>=100)].shape[0]

48

In [72]:
odi[(odi['Player']=='Rahul Dravid') & (odi['Runs']>=100)].shape[0]

12

In [73]:
odi[(odi['Player']=='Sachin R Tendulkar') & (odi['Runs']>=100) & (odi['Versus']=='Australia')].shape[0]

9

In [74]:
odi[(odi['Player']=='Sachin R Tendulkar') & (odi['Runs']>=100) & (odi['Versus']=='Australia') & (odi['ScoreRate']>=120)].shape[0]

1

In [75]:
#single column multiple values
import pandas as pd
players = ['Sachin R Tendulkar','Rahul Dravid']
sachin_rahul = odi[(odi['Player'].isin(players))]
sachin_rahul.shape

(760, 8)

In [76]:
odi['Runs'].max()
highscore_200 = odi[(odi['Runs'] == odi['Runs'].max())]
highscore_200

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL
15150,India,Sachin R Tendulkar,200.0,136.05,2-24-2010,Captain Roop Singh Stadium,South Africa,../Matches/MatchScorecard_ODI.asp?MatchCode=3092

In [77]:
odi['Runs'].min()
low = odi[(odi['Runs'] == odi['Runs'].min())]
low.shape

(5613, 8)

In [78]:
odi['Runs'].min()
low = odi[(odi['Runs'] == odi['Runs'].min()) & (odi['Player']=='Sachin R Tendulkar')]
low.shape[0]

20

In [79]:
#filter rows based on loc and iloc:
odi.iloc[10]   #gives a series with iloc, with one row(index and values)

Country                                           Afghanistan
Player                                       Mohammad Shahzad
Runs                                                       11
ScoreRate                                                 100
MatchDate                                           8-17-2010
Ground                                  Cambusdoon New Ground
Versus                                               Scotland
URL          ../Matches/MatchScorecard_ODI.asp?MatchCode=3166
Name: 10, dtype: object

In [80]:
odi.iloc[10]['Country']

'Afghanistan'

In [81]:
odi.iloc[10].loc['Country']

'Afghanistan'

In [82]:
odi.iloc[10,0] #11th row and 1st column

'Afghanistan'

In [83]:
odi.iloc[10,[1,2,3]]

Player       Mohammad Shahzad
Runs                       11
ScoreRate                 100
Name: 10, dtype: object

In [84]:
#loc and iloc:
#1) Row by position: df.iloc[row pos.]
#2) Row pos and column name: df.iloc[row pos.][col. name]
#3) Row pos and col pos: df.iloc[row pos, col pos]

In [85]:
odi.iloc[[0,1],[0,1]]

       Country            Player
0  Afghanistan  Mohammad Shahzad
1  Afghanistan  Mohammad Shahzad

In [86]:
odi.iloc[:-2,[0,1]]

           Country                Player
0      Afghanistan      Mohammad Shahzad
1      Afghanistan      Mohammad Shahzad
2      Afghanistan      Mohammad Shahzad
3      Afghanistan      Mohammad Shahzad
4      Afghanistan      Mohammad Shahzad
5      Afghanistan      Mohammad Shahzad
6      Afghanistan      Mohammad Shahzad
7      Afghanistan      Mohammad Shahzad
8      Afghanistan      Mohammad Shahzad
9      Afghanistan      Mohammad Shahzad
10     Afghanistan      Mohammad Shahzad
11     Afghanistan      Mohammad Shahzad
12     Afghanistan      Mohammad Shahzad
13     Afghanistan      Mohammad Shahzad
14     Afghanistan      Mohammad Shahzad
15     Afghanistan      Mohammad Shahzad
16     Afghanistan         Mohammad Nabi
17     Afghanistan         Mohammad Nabi
18     Afghanistan         Mohammad Nabi
19     Afghanistan         Mohammad Nabi
20     Afghanistan         Mohammad Nabi
21     Afghanistan         Mohammad Nabi
22     Afghanistan         Mohammad Nabi
23     Afghanistan         Mohammad Nabi
24     Afghanistan         Mohammad Nabi
25     Afghanistan         Mohammad Nabi
26     Afghanistan         Mohammad Nabi
27     Afghanistan         Mohammad Nabi
28     Afghanistan         Mohammad Nabi
29     Afghanistan         Mohammad Nabi
...            ...                   ...
55894     Zimbabwe        Ian A Nicolson
55895     Zimbabwe  Ebrahim A Essop-Adam
55896     Zimbabwe        Ian A Nicolson
55897     Zimbabwe   Glen K Bruk-Jackson
55898     Zimbabwe         Adam G Huckle
55899     Zimbabwe         Adam G Huckle
55900     Zimbabwe         Adam G Huckle
55901     Zimbabwe         Adam G Huckle
55902     Zimbabwe         Adam G Huckle
55903     Zimbabwe         Adam G Huckle
55904     Zimbabwe         Adam G Huckle
55905     Zimbabwe         Adam G Huckle
55906     Zimbabwe         Alan C I Lock
55907     Zimbabwe  Everton Matambanadzo
55908     Zimbabwe         Alan C I Lock
55909     Zimbabwe  Everton Matambanadzo
55910     Zimbabwe         Alan C I Lock
55911     Zimbabwe  Everton Matambanadzo
55912     Zimbabwe  Everton Matambanadzo
55913     Zimbabwe  Everton Matambanadzo
55914     Zimbabwe        Vincent R Hogg
55915     Zimbabwe      Natsai Mushangwe
55916     Zimbabwe         Kevin G Duers
55917     Zimbabwe         Kevin G Duers
55918     Zimbabwe         Ujesh Ranchod
55919     Zimbabwe        Brian V Vitori
55920     Zimbabwe   Waddington Mwayenga
55921     Zimbabwe   Waddington Mwayenga
55922     Zimbabwe    Tafadzwa Kamungozi
55923     Zimbabwe    Tafadzwa Kamungozi

[55924 rows x 2 columns]

In [87]:
#access rows and values using their labels/index

In [88]:
odi_summary = odi.describe()
odi_summary #dataframe

               Runs     ScoreRate
count  55900.000000  55900.000000
mean      22.241413     65.314208
std       25.558363     44.213423
min        0.000000      0.000000
25%        4.000000     37.500000
50%       13.000000     62.660000
75%       32.000000     87.500000
max      200.000000    600.000000

In [89]:
odi_summary.loc[['std','max']]

           Runs   ScoreRate
std   25.558363   44.213423
max  200.000000  600.000000

In [90]:
odi_summary.loc[['min','max']]

      Runs  ScoreRate
min    0.0        0.0
max  200.0      600.0

In [91]:
odi_summary.loc[['min','max'], ['Runs']]

      Runs
min    0.0
max  200.0

In [92]:
odi_summary = odi.describe(include='object')
odi_summary

,Country,Player,MatchDate,Ground,Versus,URL
count,55926,55926,55926,55926,55926,55926
unique,22,1936,2757,178,25,3209
top,India,Sachin R Tendulkar,2-4-2007,Sharjah CA Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=2089
freq,6634,442,108,3581,7216,22

In [93]:
odi.head()

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL
0,Afghanistan,Mohammad Shahzad,118.0,97.52,2-16-2010,Sharjah CA Stadium,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3087
1,Afghanistan,Mohammad Shahzad,110.0,99.09,9-1-2009,VRA Ground,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3008
2,Afghanistan,Mohammad Shahzad,100.0,138.88,8-16-2010,Cambusdoon New Ground,Scotland,../Matches/MatchScorecard_ODI.asp?MatchCode=3164
3,Afghanistan,Mohammad Shahzad,82.0,75.92,7-10-2010,Hazelaarweg,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3153
4,Afghanistan,Mohammad Shahzad,57.0,100.00,7-1-2010,Sportpark Westvliet,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3135

In [94]:
odi.loc[4]

Country                                           Afghanistan
Player                                       Mohammad Shahzad
Runs                                                       57
ScoreRate                                                 100
MatchDate                                            7-1-2010
Ground                                    Sportpark Westvliet
Versus                                                 Canada
URL          ../Matches/MatchScorecard_ODI.asp?MatchCode=3135
Name: 4, dtype: object

In [95]:
odi.iloc[4]

Country                                           Afghanistan
Player                                       Mohammad Shahzad
Runs                                                       57
ScoreRate                                                 100
MatchDate                                            7-1-2010
Ground                                    Sportpark Westvliet
Versus                                                 Canada
URL          ../Matches/MatchScorecard_ODI.asp?MatchCode=3135
Name: 4, dtype: object

In [129]:
#loc an iloc same in above case, because in the above dataframe the index is defined in that way

In [97]:
#loc:
#row by label/index df.loc[row label/index]
#row by lables and column by labels: df.loc[row,col]
odi_summary

,Country,Player,MatchDate,Ground,Versus,URL
count,55926,55926,55926,55926,55926,55926
unique,22,1936,2757,178,25,3209
top,India,Sachin R Tendulkar,2-4-2007,Sharjah CA Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=2089
freq,6634,442,108,3581,7216,22

In [98]:
odi['Player'].value_counts()

Sachin R Tendulkar        442
Sanath T Jayasuriya       433
Ricky T Ponting           360
Inzamam-ul-Haq            351
D P Mahela Jayawardene    330
Rahul Dravid              318
Mohammad Azharuddin       308
Shahid Afridi             303
Jacques H Kallis          303
Sourav C Ganguly          300
Pinnaduwage A de Silva    296
Brian C Lara              289
Stephen R Waugh           288
Kumar C Sangakkara        282
Wasim Akram               280
Adam C Gilchrist          279
Mohammad Yousuf           273
Stephen P Fleming         269
Marvan S Atapattu         259
Salim Malik               256
Arjuna Ranatunga          255
Allan R Border            252
Yuvraj Singh              252
Shivnarine Chanderpaul    251
Saeed Anwar               244
Herschelle H Gibbs        240
Desmond L Haynes          237
Mark E Waugh              237
Ijaz Ahmed                232
Virender Sehwag           230
                         ...
Ashley J Woodcock           1
Matthew T G Elliott         1
Rodney E Redmond            1
Leslie B Taylor             1
Anwar Hossain (2)           1
Tanvir Ahmed                1
Andrew G Puttick            1
James L Pattinson           1
Mohammad Khalil             1
Mark R Benson               1
Johann Louw                 1
Jonathan P Taylor           1
Saleem Pervez               1
Robert G Hart               1
Maqsood Rana                1
Frederick J Titmus          1
Patrick I Pocock            1
Saradindu P Mukherjee       1
Anwar Hossain Monir         1
Aftabodeen Shamsuden        1
Norman M Parker             1
Paul-Jan Bakker             1
Irfan Fazil                 1
Phillipus J R Steyn         1
Shahid Anwar                1
Garfield St A Sobers        1
Richard A Austin            1
Michael B Owens             1
Nelon T Pascal              1
John A Maclean              1
Name: Player, Length: 1936, dtype: int64

In [99]:
odi['Player'].value_counts().loc[['Sachin R Tendulkar','Rahul Dravid']]

Sachin R Tendulkar    442
Rahul Dravid          318
Name: Player, dtype: int64

In [100]:
#DROP rows and columns
if 'URL' in odi.columns:
    odi = odi.drop(['URL'], axis=1)
odi.shape  #one column reduced. earlier, we had 8

(55926, 7)

In [101]:
print(odi_summary)

       Country              Player MatchDate              Ground     Versus  \
count    55926               55926     55926               55926      55926
unique      22                1936      2757                 178         25
top      India  Sachin R Tendulkar  2-4-2007  Sharjah CA Stadium  Australia
freq      6634                 442       108                3581       7216

                                                     URL
count                                              55926
unique                                              3209
top     ../Matches/MatchScorecard_ODI.asp?MatchCode=2089
freq                                                  22

In [102]:
odi_summary1 = odi_summary.drop('freq',axis=0)
odi_summary1

,Country,Player,MatchDate,Ground,Versus,URL
count,55926,55926,55926,55926,55926,55926
unique,22,1936,2757,178,25,3209
top,India,Sachin R Tendulkar,2-4-2007,Sharjah CA Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=2089

In [103]:
#Rename columns:
odi.head(1)

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus
0,Afghanistan,Mohammad Shahzad,118.0,97.52,2-16-2010,Sharjah CA Stadium,Canada

In [104]:
odi = odi.rename(columns = {'ScoreRate':'StrikeRate','Player':'Person'})
odi.head(1)

,Country,Person,Runs,StrikeRate,MatchDate,Ground,Versus
0,Afghanistan,Mohammad Shahzad,118.0,97.52,2-16-2010,Sharjah CA Stadium,Canada

In [105]:
df = pd.DataFrame({'productname':['a','b','c'],'Sales':[10,20,30]})
df

  productname  Sales
0           a     10
1           b     20
2           c     30

In [106]:
df.loc[2,'Sales']

30

In [107]:
df.loc[[0,2],'Sales'] =[10,100]
df

  productname  Sales
0           a     10
1           b     20
2           c    100

In [108]:
df = pd.DataFrame({'productname':['a','b','c','a'],'Sales':[10,20,30,56]})
row_labels = df[(df['productname']=='a')].index
df.loc[row_labels, 'productname'] = ['aa','aa']

In [109]:
df

  productname  Sales
0          aa     10
1           b     20
2           c     30
3          aa     56

In [110]:
df['productname'] = df['productname'].replace('b','bb')   #works for one value
df

  productname  Sales
0          aa     10
1          bb     20
2           c     30
3          aa     56

In [111]:
##sorting:
odi = pd.read_csv('https://bit.ly/2EN4qrx')
odi.head() #enter number of rows in Head()
odi['Player'].nunique() #no of unique values in a column/series

1936

In [112]:
players_name = odi['Player'].unique()   #unique shows elements which are unique
len(players_name)

1936

In [113]:
##sorting dataframe:
sachin_rows = odi[odi['Player'] == 'Sachin R Tendulkar']
sachin_rows.sort_values(['Runs'],ascending=True)

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL
15591,India,Sachin R Tendulkar,0.0,0.00,9-17-1994,Sinhalese Sports Club Ground,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=0991
15572,India,Sachin R Tendulkar,0.0,0.00,11-17-1999,Feroz Shah Kotla,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1613
15573,India,Sachin R Tendulkar,0.0,0.00,3-19-2004,Arbab Niaz Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=2207
15574,India,Sachin R Tendulkar,0.0,0.00,1-24-2007,Barabati Stadium,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=2592
15575,India,Sachin R Tendulkar,0.0,0.00,7-7-2001,Harare Sports Club,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=1819
15576,India,Sachin R Tendulkar,0.0,0.00,1-9-1999,Owen Delaney Park,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1456
15577,India,Sachin R Tendulkar,0.0,0.00,3-23-2007,Queen's Park Oval,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=2657
15578,India,Sachin R Tendulkar,0.0,0.00,9-8-1999,Kallang Ground,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=1579
15579,India,Sachin R Tendulkar,0.0,0.00,2-19-2008,Adelaide Oval,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=2793
15580,India,Sachin R Tendulkar,0.0,0.00,6-4-1999,The Oval,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1556
15590,India,Sachin R Tendulkar,0.0,0.00,10-20-1994,Wankhede Stadium,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=1003
15582,India,Sachin R Tendulkar,0.0,0.00,9-29-2007,M.Chinnaswamy Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=2732
15589,India,Sachin R Tendulkar,0.0,0.00,1-23-1997,OUTsurance Oval,South Africa,../Matches/MatchScorecard_ODI.asp?MatchCode=1236
15588,India,Sachin R Tendulkar,0.0,0.00,10-17-1994,Nahar Singh (Mayur) Stadium,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=1002
15587,India,Sachin R Tendulkar,0.0,0.00,12-18-1989,Jinnah Stadium (Gujwranwala),Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=0651
15581,India,Sachin R Tendulkar,0.0,0.00,2-16-2006,Multan Cricket Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=2430
15585,India,Sachin R Tendulkar,0.0,0.00,10-25-1991,Sharjah CA Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=0746
15584,India,Sachin R Tendulkar,0.0,0.00,1-8-2003,Westpac Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=2016
15583,India,Sachin R Tendulkar,0.0,0.00,9-18-1997,"Cricket, Skating & Curling Club",Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=1303
15586,India,Sachin R Tendulkar,0.0,0.00,3-1-1990,Carisbrook,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=0673
15560,India,Sachin R Tendulkar,1.0,33.33,11-14-1991,Jawaharlal Nehru Stadium (Delhi),South Africa,../Matches/MatchScorecard_ODI.asp?MatchCode=0749
15552,India,Sachin R Tendulkar,1.0,25.00,11-29-1995,Brabourne Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1085
15553,India,Sachin R Tendulkar,1.0,11.11,6-29-2002,Lord's,England,../Matches/MatchScorecard_ODI.asp?MatchCode=1935
15554,India,Sachin R Tendulkar,1.0,20.00,2-15-1994,Madhavrao Scindia Cricket Ground,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=0941
15556,India,Sachin R Tendulkar,1.0,9.09,1-14-2000,Sydney Cricket Ground,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1628
15557,India,Sachin R Tendulkar,1.0,9.09,5-26-1996,Old Trafford,England,../Matches/MatchScorecard_ODI.asp?MatchCode=0036
15558,India,Sachin R Tendulkar,1.0,7.14,2-2-1997,St George's Park,South Africa,../Matches/MatchScorecard_ODI.asp?MatchCode=1241
15559,India,Sachin R Tendulkar,1.0,50.00,4-9-1998,Barabati Stadium,Zimbabwe,../Matches/MatchScorecard_ODI.asp?MatchCode=1382
15561,India,Sachin R Tendulkar,1.0,16.66,1-16-1998,Bangabandhu National Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=1357
15555,India,Sachin R Tendulkar,1.0,33.33,11-29-2006,St George's Park,South Africa,../Matches/MatchScorecard_ODI.asp?MatchCode=2557
...,...,...,...,...,...,...,...,...
15179,India,Sachin R Tendulkar,115.0,84.55,10-28-1994,Reliance Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1009
15178,India,Sachin R Tendulkar,117.0,97.50,3-2-2008,Sydney Cricket Ground,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=2800
15177,India,Sachin R Tendulkar,117.0,85.40,5-14-1997,M.Chinnaswamy Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1278
15175,India,Sachin R Tendulkar,118.0,105.35,11-8-1998,Sharjah CA Stadium,Zimbabwe,../Matches/MatchScorecard_ODI.asp?MatchCode=1445
15176,India,Sachin R Tendulkar,118.0,84.28,4-15-1996,Sharjah CA Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=1163
15174,India,Sachin R Tendulkar,120.0,104.34,2-27-2011,M.Chinnaswamy Stadium,England,../Matches/MatchScorecard_ODI.asp?MatchCode=3245
15173,India,Sachin R Tendulkar,120.0,85.10,8-29-1999,Sinhalese Sports Club Ground,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=1573
15172,India,Sachin R Tendulkar,122.0,93.12,7-4-2001,Harare Sports Club,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=1818
15171,India,Sachin R Tendulkar,122.0,88.40,3-17-2000,Reliance Stadium,South Africa,../Matches/MatchScorecard_ODI.asp?MatchCode=1666
15170,India,Sachin R Tendulkar,123.0,94.61,4-12-2005,Sardar Patel Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=2336
15169,India,Sachin R Tendulkar,124.0,134.78,11-13-1998,Sharjah CA Stadium,Zimbabwe,../Matches/MatchScorecard_ODI.asp?MatchCode=1449
15168,India,Sachin R Tendulkar,127.0,97.69,9-26-1998,Queens Sports Club,Zimbabwe,../Matches/MatchScorecard_ODI.asp?MatchCode=1432
15167,India,Sachin R Tendulkar,127.0,92.02,2-18-1996,Barabati Stadium,Kenya,../Matches/MatchScorecard_ODI.asp?MatchCode=1118
15166,India,Sachin R Tendulkar,128.0,97.70,7-7-1998,R. Premadasa Stadium,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=1421
15165,India,Sachin R Tendulkar,134.0,102.29,4-24-1998,Sharjah CA Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1401
15164,India,Sachin R Tendulkar,137.0,100.00,3-2-1996,Feroz Shah Kotla,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=1137
15163,India,Sachin R Tendulkar,138.0,103.75,9-14-2009,R. Premadasa Stadium,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=3016
15162,India,Sachin R Tendulkar,139.0,111.20,3-31-2001,Nehru Stadium (Indore),Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1789
15161,India,Sachin R Tendulkar,140.0,138.61,5-23-1999,Royal & Sun Alliance County Ground,Kenya,../Matches/MatchScorecard_ODI.asp?MatchCode=1540
15160,India,Sachin R Tendulkar,141.0,110.15,10-28-1998,Bangabandhu National Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1438
15159,India,Sachin R Tendulkar,141.0,95.27,9-14-2006,Kinrara Academy Oval,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=2517
15158,India,Sachin R Tendulkar,141.0,104.44,3-16-2004,Rawalpindi Cricket Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=2206
15157,India,Sachin R Tendulkar,143.0,109.16,4-22-1998,Sharjah CA Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1400
15156,India,Sachin R Tendulkar,146.0,110.60,10-24-2001,Boland Bank Park,Kenya,../Matches/MatchScorecard_ODI.asp?MatchCode=1849
15155,India,Sachin R Tendulkar,146.0,95.42,12-8-2000,Barkatullah Khan Stadium,Zimbabwe,../Matches/MatchScorecard_ODI.asp?MatchCode=1748
15154,India,Sachin R Tendulkar,152.0,100.66,2-23-2003,City Oval,Namibia,../Matches/MatchScorecard_ODI.asp?MatchCode=2052
15153,India,Sachin R Tendulkar,163.0,122.55,3-8-2009,AMI Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=2945
15152,India,Sachin R Tendulkar,175.0,124.11,11-5-2009,Rajiv Gandhi International Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=3050
15151,India,Sachin R Tendulkar,186.0,124.00,11-8-1999,Lal Bahadur Shastri Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1610
15150,India,Sachin R Tendulkar,200.0,136.05,2-24-2010,Captain Roop Singh Stadium,South Africa,../Matches/MatchScorecard_ODI.asp?MatchCode=3092

In [114]:
sachin_rows.sort_values(['Runs'],ascending=False)

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL
15150,India,Sachin R Tendulkar,200.0,136.05,2-24-2010,Captain Roop Singh Stadium,South Africa,../Matches/MatchScorecard_ODI.asp?MatchCode=3092
15151,India,Sachin R Tendulkar,186.0,124.00,11-8-1999,Lal Bahadur Shastri Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1610
15152,India,Sachin R Tendulkar,175.0,124.11,11-5-2009,Rajiv Gandhi International Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=3050
15153,India,Sachin R Tendulkar,163.0,122.55,3-8-2009,AMI Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=2945
15154,India,Sachin R Tendulkar,152.0,100.66,2-23-2003,City Oval,Namibia,../Matches/MatchScorecard_ODI.asp?MatchCode=2052
15156,India,Sachin R Tendulkar,146.0,110.60,10-24-2001,Boland Bank Park,Kenya,../Matches/MatchScorecard_ODI.asp?MatchCode=1849
15155,India,Sachin R Tendulkar,146.0,95.42,12-8-2000,Barkatullah Khan Stadium,Zimbabwe,../Matches/MatchScorecard_ODI.asp?MatchCode=1748
15157,India,Sachin R Tendulkar,143.0,109.16,4-22-1998,Sharjah CA Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1400
15158,India,Sachin R Tendulkar,141.0,104.44,3-16-2004,Rawalpindi Cricket Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=2206
15159,India,Sachin R Tendulkar,141.0,95.27,9-14-2006,Kinrara Academy Oval,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=2517
15160,India,Sachin R Tendulkar,141.0,110.15,10-28-1998,Bangabandhu National Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1438
15161,India,Sachin R Tendulkar,140.0,138.61,5-23-1999,Royal & Sun Alliance County Ground,Kenya,../Matches/MatchScorecard_ODI.asp?MatchCode=1540
15162,India,Sachin R Tendulkar,139.0,111.20,3-31-2001,Nehru Stadium (Indore),Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1789
15163,India,Sachin R Tendulkar,138.0,103.75,9-14-2009,R. Premadasa Stadium,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=3016
15164,India,Sachin R Tendulkar,137.0,100.00,3-2-1996,Feroz Shah Kotla,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=1137
15165,India,Sachin R Tendulkar,134.0,102.29,4-24-1998,Sharjah CA Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1401
15166,India,Sachin R Tendulkar,128.0,97.70,7-7-1998,R. Premadasa Stadium,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=1421
15168,India,Sachin R Tendulkar,127.0,97.69,9-26-1998,Queens Sports Club,Zimbabwe,../Matches/MatchScorecard_ODI.asp?MatchCode=1432
15167,India,Sachin R Tendulkar,127.0,92.02,2-18-1996,Barabati Stadium,Kenya,../Matches/MatchScorecard_ODI.asp?MatchCode=1118
15169,India,Sachin R Tendulkar,124.0,134.78,11-13-1998,Sharjah CA Stadium,Zimbabwe,../Matches/MatchScorecard_ODI.asp?MatchCode=1449
15170,India,Sachin R Tendulkar,123.0,94.61,4-12-2005,Sardar Patel Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=2336
15171,India,Sachin R Tendulkar,122.0,88.40,3-17-2000,Reliance Stadium,South Africa,../Matches/MatchScorecard_ODI.asp?MatchCode=1666
15172,India,Sachin R Tendulkar,122.0,93.12,7-4-2001,Harare Sports Club,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=1818
15173,India,Sachin R Tendulkar,120.0,85.10,8-29-1999,Sinhalese Sports Club Ground,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=1573
15174,India,Sachin R Tendulkar,120.0,104.34,2-27-2011,M.Chinnaswamy Stadium,England,../Matches/MatchScorecard_ODI.asp?MatchCode=3245
15175,India,Sachin R Tendulkar,118.0,105.35,11-8-1998,Sharjah CA Stadium,Zimbabwe,../Matches/MatchScorecard_ODI.asp?MatchCode=1445
15176,India,Sachin R Tendulkar,118.0,84.28,4-15-1996,Sharjah CA Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=1163
15177,India,Sachin R Tendulkar,117.0,85.40,5-14-1997,M.Chinnaswamy Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1278
15178,India,Sachin R Tendulkar,117.0,97.50,3-2-2008,Sydney Cricket Ground,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=2800
15179,India,Sachin R Tendulkar,115.0,84.55,10-28-1994,Reliance Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1009
...,...,...,...,...,...,...,...,...
15561,India,Sachin R Tendulkar,1.0,16.66,1-16-1998,Bangabandhu National Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=1357
15555,India,Sachin R Tendulkar,1.0,33.33,11-29-2006,St George's Park,South Africa,../Matches/MatchScorecard_ODI.asp?MatchCode=2557
15560,India,Sachin R Tendulkar,1.0,33.33,11-14-1991,Jawaharlal Nehru Stadium (Delhi),South Africa,../Matches/MatchScorecard_ODI.asp?MatchCode=0749
15553,India,Sachin R Tendulkar,1.0,11.11,6-29-2002,Lord's,England,../Matches/MatchScorecard_ODI.asp?MatchCode=1935
15554,India,Sachin R Tendulkar,1.0,20.00,2-15-1994,Madhavrao Scindia Cricket Ground,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=0941
15552,India,Sachin R Tendulkar,1.0,25.00,11-29-1995,Brabourne Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1085
15556,India,Sachin R Tendulkar,1.0,9.09,1-14-2000,Sydney Cricket Ground,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1628
15557,India,Sachin R Tendulkar,1.0,9.09,5-26-1996,Old Trafford,England,../Matches/MatchScorecard_ODI.asp?MatchCode=0036
15558,India,Sachin R Tendulkar,1.0,7.14,2-2-1997,St George's Park,South Africa,../Matches/MatchScorecard_ODI.asp?MatchCode=1241
15559,India,Sachin R Tendulkar,1.0,50.00,4-9-1998,Barabati Stadium,Zimbabwe,../Matches/MatchScorecard_ODI.asp?MatchCode=1382
15582,India,Sachin R Tendulkar,0.0,0.00,9-29-2007,M.Chinnaswamy Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=2732
15590,India,Sachin R Tendulkar,0.0,0.00,10-20-1994,Wankhede Stadium,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=1003
15589,India,Sachin R Tendulkar,0.0,0.00,1-23-1997,OUTsurance Oval,South Africa,../Matches/MatchScorecard_ODI.asp?MatchCode=1236
15588,India,Sachin R Tendulkar,0.0,0.00,10-17-1994,Nahar Singh (Mayur) Stadium,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=1002
15587,India,Sachin R Tendulkar,0.0,0.00,12-18-1989,Jinnah Stadium (Gujwranwala),Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=0651
15586,India,Sachin R Tendulkar,0.0,0.00,3-1-1990,Carisbrook,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=0673
15585,India,Sachin R Tendulkar,0.0,0.00,10-25-1991,Sharjah CA Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=0746
15584,India,Sachin R Tendulkar,0.0,0.00,1-8-2003,Westpac Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=2016
15583,India,Sachin R Tendulkar,0.0,0.00,9-18-1997,"Cricket, Skating & Curling Club",Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=1303
15577,India,Sachin R Tendulkar,0.0,0.00,3-23-2007,Queen's Park Oval,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=2657
15581,India,Sachin R Tendulkar,0.0,0.00,2-16-2006,Multan Cricket Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=2430
15580,India,Sachin R Tendulkar,0.0,0.00,6-4-1999,The Oval,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1556
15579,India,Sachin R Tendulkar,0.0,0.00,2-19-2008,Adelaide Oval,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=2793
15578,India,Sachin R Tendulkar,0.0,0.00,9-8-1999,Kallang Ground,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=1579
15576,India,Sachin R Tendulkar,0.0,0.00,1-9-1999,Owen Delaney Park,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1456
15575,India,Sachin R Tendulkar,0.0,0.00,7-7-2001,Harare Sports Club,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=1819
15574,India,Sachin R Tendulkar,0.0,0.00,1-24-2007,Barabati Stadium,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=2592
15573,India,Sachin R Tendulkar,0.0,0.00,3-19-2004,Arbab Niaz Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=2207
15572,India,Sachin R Tendulkar,0.0,0.00,11-17-1999,Feroz Shah Kotla,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1613
15591,India,Sachin R Tendulkar,0.0,0.00,9-17-1994,Sinhalese Sports Club Ground,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=0991

In [115]:
df = sachin_rows.sort_values(['Runs','ScoreRate'],ascending=False)
df

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL
15150,India,Sachin R Tendulkar,200.0,136.05,2-24-2010,Captain Roop Singh Stadium,South Africa,../Matches/MatchScorecard_ODI.asp?MatchCode=3092
15151,India,Sachin R Tendulkar,186.0,124.00,11-8-1999,Lal Bahadur Shastri Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1610
15152,India,Sachin R Tendulkar,175.0,124.11,11-5-2009,Rajiv Gandhi International Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=3050
15153,India,Sachin R Tendulkar,163.0,122.55,3-8-2009,AMI Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=2945
15154,India,Sachin R Tendulkar,152.0,100.66,2-23-2003,City Oval,Namibia,../Matches/MatchScorecard_ODI.asp?MatchCode=2052
15156,India,Sachin R Tendulkar,146.0,110.60,10-24-2001,Boland Bank Park,Kenya,../Matches/MatchScorecard_ODI.asp?MatchCode=1849
15155,India,Sachin R Tendulkar,146.0,95.42,12-8-2000,Barkatullah Khan Stadium,Zimbabwe,../Matches/MatchScorecard_ODI.asp?MatchCode=1748
15157,India,Sachin R Tendulkar,143.0,109.16,4-22-1998,Sharjah CA Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1400
15160,India,Sachin R Tendulkar,141.0,110.15,10-28-1998,Bangabandhu National Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1438
15158,India,Sachin R Tendulkar,141.0,104.44,3-16-2004,Rawalpindi Cricket Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=2206
15159,India,Sachin R Tendulkar,141.0,95.27,9-14-2006,Kinrara Academy Oval,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=2517
15161,India,Sachin R Tendulkar,140.0,138.61,5-23-1999,Royal & Sun Alliance County Ground,Kenya,../Matches/MatchScorecard_ODI.asp?MatchCode=1540
15162,India,Sachin R Tendulkar,139.0,111.20,3-31-2001,Nehru Stadium (Indore),Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1789
15163,India,Sachin R Tendulkar,138.0,103.75,9-14-2009,R. Premadasa Stadium,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=3016
15164,India,Sachin R Tendulkar,137.0,100.00,3-2-1996,Feroz Shah Kotla,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=1137
15165,India,Sachin R Tendulkar,134.0,102.29,4-24-1998,Sharjah CA Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1401
15166,India,Sachin R Tendulkar,128.0,97.70,7-7-1998,R. Premadasa Stadium,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=1421
15168,India,Sachin R Tendulkar,127.0,97.69,9-26-1998,Queens Sports Club,Zimbabwe,../Matches/MatchScorecard_ODI.asp?MatchCode=1432
15167,India,Sachin R Tendulkar,127.0,92.02,2-18-1996,Barabati Stadium,Kenya,../Matches/MatchScorecard_ODI.asp?MatchCode=1118
15169,India,Sachin R Tendulkar,124.0,134.78,11-13-1998,Sharjah CA Stadium,Zimbabwe,../Matches/MatchScorecard_ODI.asp?MatchCode=1449
15170,India,Sachin R Tendulkar,123.0,94.61,4-12-2005,Sardar Patel Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=2336
15172,India,Sachin R Tendulkar,122.0,93.12,7-4-2001,Harare Sports Club,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=1818
15171,India,Sachin R Tendulkar,122.0,88.40,3-17-2000,Reliance Stadium,South Africa,../Matches/MatchScorecard_ODI.asp?MatchCode=1666
15174,India,Sachin R Tendulkar,120.0,104.34,2-27-2011,M.Chinnaswamy Stadium,England,../Matches/MatchScorecard_ODI.asp?MatchCode=3245
15173,India,Sachin R Tendulkar,120.0,85.10,8-29-1999,Sinhalese Sports Club Ground,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=1573
15175,India,Sachin R Tendulkar,118.0,105.35,11-8-1998,Sharjah CA Stadium,Zimbabwe,../Matches/MatchScorecard_ODI.asp?MatchCode=1445
15176,India,Sachin R Tendulkar,118.0,84.28,4-15-1996,Sharjah CA Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=1163
15178,India,Sachin R Tendulkar,117.0,97.50,3-2-2008,Sydney Cricket Ground,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=2800
15177,India,Sachin R Tendulkar,117.0,85.40,5-14-1997,M.Chinnaswamy Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1278
15179,India,Sachin R Tendulkar,115.0,84.55,10-28-1994,Reliance Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1009
...,...,...,...,...,...,...,...,...
15563,India,Sachin R Tendulkar,1.0,12.50,2-14-2007,Nehru Stadium (Margao),Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=2629
15553,India,Sachin R Tendulkar,1.0,11.11,6-29-2002,Lord's,England,../Matches/MatchScorecard_ODI.asp?MatchCode=1935
15566,India,Sachin R Tendulkar,1.0,11.11,12-6-1991,W.A.C.A. Ground,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=0753
15564,India,Sachin R Tendulkar,1.0,10.00,4-15-2005,Green Park,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=2337
15556,India,Sachin R Tendulkar,1.0,9.09,1-14-2000,Sydney Cricket Ground,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1628
15557,India,Sachin R Tendulkar,1.0,9.09,5-26-1996,Old Trafford,England,../Matches/MatchScorecard_ODI.asp?MatchCode=0036
15569,India,Sachin R Tendulkar,1.0,9.09,5-3-1997,Kensington Oval,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=1275
15568,India,Sachin R Tendulkar,1.0,7.69,1-11-2003,Eden Park,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=2018
15558,India,Sachin R Tendulkar,1.0,7.14,2-2-1997,St George's Park,South Africa,../Matches/MatchScorecard_ODI.asp?MatchCode=1241
15571,India,Sachin R Tendulkar,1.0,4.34,11-11-1999,Captain Roop Singh Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1611
15572,India,Sachin R Tendulkar,0.0,0.00,11-17-1999,Feroz Shah Kotla,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1613
15573,India,Sachin R Tendulkar,0.0,0.00,3-19-2004,Arbab Niaz Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=2207
15574,India,Sachin R Tendulkar,0.0,0.00,1-24-2007,Barabati Stadium,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=2592
15575,India,Sachin R Tendulkar,0.0,0.00,7-7-2001,Harare Sports Club,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=1819
15576,India,Sachin R Tendulkar,0.0,0.00,1-9-1999,Owen Delaney Park,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1456
15577,India,Sachin R Tendulkar,0.0,0.00,3-23-2007,Queen's Park Oval,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=2657
15578,India,Sachin R Tendulkar,0.0,0.00,9-8-1999,Kallang Ground,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=1579
15579,India,Sachin R Tendulkar,0.0,0.00,2-19-2008,Adelaide Oval,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=2793
15580,India,Sachin R Tendulkar,0.0,0.00,6-4-1999,The Oval,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1556
15581,India,Sachin R Tendulkar,0.0,0.00,2-16-2006,Multan Cricket Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=2430
15582,India,Sachin R Tendulkar,0.0,0.00,9-29-2007,M.Chinnaswamy Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=2732
15583,India,Sachin R Tendulkar,0.0,0.00,9-18-1997,"Cricket, Skating & Curling Club",Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=1303
15584,India,Sachin R Tendulkar,0.0,0.00,1-8-2003,Westpac Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=2016
15585,India,Sachin R Tendulkar,0.0,0.00,10-25-1991,Sharjah CA Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=0746
15586,India,Sachin R Tendulkar,0.0,0.00,3-1-1990,Carisbrook,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=0673
15587,India,Sachin R Tendulkar,0.0,0.00,12-18-1989,Jinnah Stadium (Gujwranwala),Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=0651
15588,India,Sachin R Tendulkar,0.0,0.00,10-17-1994,Nahar Singh (Mayur) Stadium,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=1002
15589,India,Sachin R Tendulkar,0.0,0.00,1-23-1997,OUTsurance Oval,South Africa,../Matches/MatchScorecard_ODI.asp?MatchCode=1236
15590,India,Sachin R Tendulkar,0.0,0.00,10-20-1994,Wankhede Stadium,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=1003
15591,India,Sachin R Tendulkar,0.0,0.00,9-17-1994,Sinhalese Sports Club Ground,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=0991

In [116]:
df = pd.DataFrame({'prod':['a','c','b','f'],'sales':[10,12,12,14]})
df

  prod  sales
0    a     10
1    c     12
2    b     12
3    f     14

In [117]:
df = df.set_index('prod')
df.sort_index()

      sales
prod
a        10
b        12
c        12
f        14

# topics:
-summary
-head
-describe
-info/dtypes
-filtering
-iloc and loc
-sort_values, sort_index
-value_counts, nunique, unique
-set_index
-drop
-modify elements
-Rank

In [118]:
# rank:
Student Name    Total marks   Rank(based on max val)     Rank(based on min val)
A               100           4                          1
B               200           3                          2
C               300           2                          3
D               400           1                          4

SyntaxError: invalid syntax (<ipython-input-118-8a82b3a904a1>, line 2)

In [119]:
import numpy as np
np.random.seed(10)
data =pd.DataFrame({'name':['a','b','c','d','e'],'balance':np.random.randint(1,1000,5),'defaults':np.random.randint(1,15,5)})
data

  name  balance  defaults
0    a      266         2
1    b      126        12
2    c      997        13
3    d      528        10
4    e      321        14

In [120]:
data['rank_balance'] = data['balance'].rank()  #default ranking is ascending
data

  name  balance  defaults  rank_balance
0    a      266         2           2.0
1    b      126        12           1.0
2    c      997        13           5.0
3    d      528        10           4.0
4    e      321        14           3.0

In [121]:
data['rank_balance'] = data['balance'].rank(ascending=False)  #default ranking is ascending
data

  name  balance  defaults  rank_balance
0    a      266         2           4.0
1    b      126        12           5.0
2    c      997        13           1.0
3    d      528        10           2.0
4    e      321        14           3.0

In [122]:
data['rank_default'] = data['defaults'].rank()
data

  name  balance  defaults  rank_balance  rank_default
0    a      266         2           4.0           1.0
1    b      126        12           5.0           3.0
2    c      997        13           1.0           4.0
3    d      528        10           2.0           2.0
4    e      321        14           3.0           5.0

In [123]:
#if two rows(elements) are equal then an average of values is assigned to those elements

In [124]:
data =pd.DataFrame({'name':['a','b','c','d','e'],'marks':[300,400,200,200,350]})
data['rank_average'] = data['marks'].rank(ascending=True)
data

  name  marks  rank_average
0    a    300           3.0
1    b    400           5.0
2    c    200           1.5
3    d    200           1.5
4    e    350           4.0

In [125]:
data['rank_min'] = data['marks'].rank(ascending=False,method='min')
data

  name  marks  rank_average  rank_min
0    a    300           3.0       3.0
1    b    400           5.0       1.0
2    c    200           1.5       4.0
3    d    200           1.5       4.0
4    e    350           4.0       2.0

In [126]:
data['rank_max'] = data['marks'].rank(ascending=False,method='max')
data

  name  marks  rank_average  rank_min  rank_max
0    a    300           3.0       3.0       3.0
1    b    400           5.0       1.0       1.0
2    c    200           1.5       4.0       5.0
3    d    200           1.5       4.0       5.0
4    e    350           4.0       2.0       2.0

In [127]:
data['rank_dense'] = data['marks'].rank(ascending=False,method='dense')
data

  name  marks  rank_average  rank_min  rank_max  rank_dense
0    a    300           3.0       3.0       3.0         3.0
1    b    400           5.0       1.0       1.0         1.0
2    c    200           1.5       4.0       5.0         4.0
3    d    200           1.5       4.0       5.0         4.0
4    e    350           4.0       2.0       2.0         2.0